
body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    color: #111010;
    padding:20px ;
    height: fit-content;
    text-align: center;
    }
    nav{
      width: 300;
      height: 250;
      display: flex;
      justify-content: center;

    }
  
    header {
    background-color:#7B5C84;

    color: #111010;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    }
    .encabezado1 {
      display: flex;
      align-items: center;
    }
    .encabezado1 {
      display: flex;
      align-items: center;
    }
    
    .titulo {
      margin-right: auto; 
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
    
    .barra-busqueda {
      display: flex;
      align-items: center;
    }
    
    .input-busqueda {
      margin-right: 10px; 
    }
    
    
    .titulo {
      margin-right: auto; 
      text-align: center;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    
    .flecha {
      display: inline-block;
      margin-left: 5px; 
    }
    
   
    .flecha::before {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 3px; 
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid black; 
    }
    .lista-horizontal {
      list-style-type: none;
      padding: 0;
      display: flex;
      margin-right: 10px;
    }
    
    .lista-horizontal li {
      display: inline-block;
      margin-right: 10px;
    }
    
    .ImagenBanner{
      width: 200;
      height: 200;
      margin-top:center;
      display: inline;
      overflow: hidden;
      
    }
    .image-section {
      display: flex; 
      justify-content: space-between; 
      
    }

   
    .image-section img {
      max-width: 100%; 
      margin-right: 10px; 
      
      
    }
    .ImagconRealce{
      filter: brightness(120%); 
      transition: filter 0.3s ease-in-out; 
    }
    h1{
      margin-top: center;
      justify-content: center;
      background: #e79898;
      text-align: center;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .ImagenCuotas{
      width: 30;
      height: 20;
      justify-content: baseline;
      
    }
  
    .contenedor-imagenes{
        max-width: 800px;
        display: flex;
      }
      
      .contenedor-imagenes img {
    
        display: inline-block;
        width: 200px;
        margin-right: 10px;
      }
    h2{
      background: #e79898;
      text-align: center;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .contenedor-tablets {
      max-width: 700px;
      display: flex;
      text-align: center;
      justify-content: center;
    }
    
    .image-list img {
      display: inline-block;
      width: 200px;
      margin-right: 10px; 
      text-align: center;
      justify-content: center;
    }

    h3{
      background: #df7878;
      text-align: center;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    }

    li{
      background: #e79898;
     
    }
    table{
      background-color: rgb(209, 241, 187);

    }
    .imagenCOMPU{
    height: 40px;
    width: 40px;
    justify-content: center;
    text-align: center;
    display: inline-block;
   }
   .h4{
    background-color: #df7878;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    }
    table {
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
    }
    th, td {
      padding: 10px;
    }
    th {
      text-align: left;
      font-weight: bold;
    }
    input[type="submit"] {
      padding: 10px;
      background-color: #4CAF50;
      color: #fff;
      border: none;
      cursor: pointer;
    }
    input[type="submit"]:hover {
      background-color: #45a049;
    }
    .logo{
      background-color: #df7878;
      color: #df7878;
      width: 20;
      height: 20;
    }
    footer {
      background-color: #df7878;
      padding: 20px;
      display: flex;
      justify-content: center;
    }
    
.redes-sociales {
  list-style: none; 
  padding: 0;
  margin: 0;
}

.redes-sociales li {
  display: inline-block; 
  margin-right: 10px; 
}

.redes-sociales li:last-child {
  margin-right: 0;
}

.redes-sociales li a {
  display: inline-block; 
  width: 30px;
  height: 30px; 
  text-align: center; 
  line-height: 30px; 
  border-radius: 0%; 
  color: #c52d2d; 
  background-color: #333; 
  transition: background-color 0.3s ease; 
}

.redes-sociales li a:hover {
  background-color: #3c1fdf; 
}

    
    

    
    
    
    

   
      